html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #000000;
}
.text-link:hover {
  color: blue;
}
.poll-listbox {
  display: flex;
  flex-direction: column;

  padding: 0 12rem;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 10px;
  left: 50%;
  padding: 5px 1rem;
  margin: 0;
  border-radius: 20px;
  transform: translateX(-50%);
  z-index: 100;
}
.alert--info {
  background-color: darkcyan;
  color: white;
}
.alert--error {
  background-color: red;
  color: white;
}
.alert--success {
  background-color: greenyellow;
  color: white;
}
.alert p {
  margin: 0;
}
.alert__close {
  border: 0;
  background-color: transparent;
  font-size: 15px;
  padding: 0;
}
.progress-bar {
  width: 500px;
}
.closed {
  display: none;
}
.poll-list {
  padding: 1rem 0;
  border-bottom: 1px solid;
}
.poll-list a {
  text-decoration: none;
}
